//planets' rotation
#mercury .pos,
#mercury .planet,
#mercury.orbit            { animation-duration: 1s; }

#venus .pos,
#venus .planet,
#venus.orbit              { animation-duration: 4s; }

#earth .pos,
#earth .planet,
#earth.orbit              { animation-duration: 8s }

#earth .orbit .pos,
#earth .orbit /* Moon */  { animation-duration: 1s }

#mars .pos,
#mars .planet,
#mars.orbit               { animation-duration: 40s }

#jupiter .pos,
#jupiter .planet,
#jupiter.orbit            { animation-duration: 80s }

#saturn .pos,
#saturn .planet,
#saturn.orbit            { animation-duration: 120s }

#uranus .pos,
#uranus .planet,
#uranus.orbit             { animation-duration: 80s }


//planets' size 
#sun                      { transform: scale(1) }
#mercury .planet          { transform: scale(0.13, 0.139) }
#venus .planet            { transform: scale(0.18, 0.193) }
#earth .planet            { transform: scale(0.22, 0.236) }
#earth .moon              { transform: scale(0.08, 0.086) }
#mars .planet             { transform: scale(0.26, 0.279) }
#jupiter .planet          { transform: scale(0.4, 0.43) }
#saturn .planet           { transform: scale(0.2, 0.215) }
//#uranus .planet           { transform: scale(0.2) }


//orbit rings' size 
@mixin orbitSize($d) {
  width: $d;
  height: $d;
  margin-top: -#{$d/2};
  margin-left: -#{$d/2};
}

#mercury.orbit            { @include orbitSize(224px) }
#venus.orbit              { @include orbitSize(288px) }
#earth.orbit              { @include orbitSize(360px) }
#earth .orbit /* moon */  { @include orbitSize(52px) }
#mars.orbit               { @include orbitSize(440px) }
#jupiter.orbit            { @include orbitSize(560px) }
#saturn.orbit             { @include orbitSize(696px) }
//#uranus.orbit             { @include orbitSize(840px) }
