/* --------------------------------------------------------------------------- planets index */

#mercury { z-index: 10; }
#venus   { z-index: 9; }
#earth   { z-index: 8; }
#moon    { z-index: 7; }
#mars    { z-index: 6; }
#jupiter { z-index: 5; }
#saturn  { z-index: 4; }
#uranus  { z-index: 3; }
#neptune { z-index: 2; }
#sun     { z-index: 1; }

/* --------------------------------------------------------------------------- animations */

@keyframes orbit {
  0%    { transform: rotateZ(0deg); }
  100%  { transform: rotateZ(-360deg); }
}

@keyframes suborbit {
  0%    { transform: rotateX(90deg) rotateZ(0deg); }
  100%  { transform: rotateX(90deg) rotateZ(-360deg); }
}

@keyframes invert {
  0%   { transform: rotateX(-90deg) rotateY(360deg) rotateZ(0deg); }
  100% { transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg); }
}


.view-3D #solar-system      { transform: rotateX(65deg) ; }
.view-3D #sun               { transform: rotateX(-90deg); }

.view-3D .planet, 
.view-3D .moon              { transform: rotateX(0deg)}