@import "gram-img";



.gramophone-container {
    position: relative;
    width: 480px;
    height: 730px
}

.gramophone-container > svg {
    position: absolute;
    width: 480px;
    height: 716px
}

.gramophone-container .star-container-top {
    position: absolute;
    top: 2px;
    left: 2px;
    height: 400px;
    width: 300px;
    clip-path: url(#clip0);
}

.gramophone-container .star-container-bottom {
    position: absolute;
    top: 405px;
    left: 105px;
    height: 124px;
    width: 286px;
    clip-path: ellipse()
}

.gramophone-container #gramophone-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 480px;
    height: 730px;
    background-size: cover
}

.gramophone-container #shadow {
    position: absolute;
    top: 550px;
    left: 20px;
    width: 480px;
    height: 285px;
    background-repeat: no-repeat;
    background-size: cover
}

.gramophone-container .PlanetsGroup {
    position: absolute;
    transform: scale(0.38);
    top: 467px;
    left: 249px
}