$background-color: #111421;
$text-color: #ECEDFB;
$secondary-color: #6c80b6;

@import 'gram-img';
@import 'casestudy-detail';
@import 'Button';
@import 'overrides';
@import 'Menu';
@import 'Stars';

.header {
  position: fixed;
  z-index: 100;
  top: 8%;
  left: 10%;

  font-family: 'Overpass Mono';
  font-size: 16px;
  font-weight: 700;
  color: $text-color
}

.fp-viewing-home .header {
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1.0)
}
.fp-viewing-case01 .header {
  color: white;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1.0)
}
.fp-viewing-case02 .header {
  color: $background-color;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1.0)
}

#right.navigation {
  position: fixed;
  z-index: 100;
  top: 8%;
  right: 8.3%;
 
  transform: rotate(90deg)
}

.about-me {

  height: 100vh;
  display: grid;
  grid-template-columns: 10vw auto 10vw;
  grid-gap: 3vw;
  align-items: center;
}
.about-right {
  grid-column: 2
}
.about-right > h4 {
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 0;
}
.about-right > h5 {
  font-weight: bold;
  letter-spacing: 2px;
  margin: 0;
}

.about-right > p,a {
  color: rgba($background-color, .6);
}

body {
  font-family: 'Overpass Mono', sans-serif;
  margin: 0;
  font-size: 20px;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  color: rgba($text-color, .8);
  line-height: 1.5
}

h1{
  font-family: 'Playfair Display';
  color: $background-color;
  line-height: normal;
  font-weight: bold;
  font-size: 100px
}

h2{
  font-family: 'Playfair Display';
  color: $text-color;
  line-height: normal;
  font-weight: bold;
  font-size: 80px
}

// h3 {
//   position: absolute;
//   width: 60%;
//   top: 20%;
//   left: 20%;
//   z-index: 500;

//   font-family: 'Playfair Display';
//   font-style: normal;
//   font-weight: normal;
//   line-height: 72px;
//   font-size: 48px;
//   color: $background-color
// }

h4 {
  font-family: 'Playfair Display';
  color: $background-color;
  font-style: normal;
  font-weight: normal;
  font-size: 40px
}

h5 {
  font-family: 'Playfair Display';
  color: $background-color;
  font-style: normal;
  font-weight: normal;
  font-size: 32px
}

#noise-background {
  position: relative;

  &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      
      width: 100%;
      height: 100%;
      
      background: url('../images/noise-bg.png');
      
      pointer-events: none;
  }
}

.landing {
  background-color: $background-color;
  display: grid;
  grid-gap: 6vw;
  grid-template-columns: 4vw 1fr 1fr 4vw;
  align-items: center;
  height: 100vh
}



.intro {
  grid-column: 2;
  text-align: left;
}

/* --------------------------------------------------------------------------- landing picture */

.landing-picture {
  grid-column: 3
}

.gramophone-container {
  position: relative;
  width: 480px;
  height: 730px
}

.gramophone-container > svg {
  position: absolute;
  width: 480px;
  height: 716px
}

.gramophone-container .star-container-top {
  position: absolute;
  top: 2px;
  left: 2px;
  height: 400px;
  width: 300px;
  clip-path: url(#clip0);
}

.gramophone-container .star-container-bottom {
  position: absolute;
  top: 405px;
  left: 105px;
  height: 124px;
  width: 286px;
  clip-path: ellipse()
}

.gramophone-container #gramophone-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 480px;
  height: 730px;
  background-size: cover
}

.gramophone-container #shadow {
  position: absolute;
  top: 550px;
  left: 20px;
  width: 480px;
  height: 285px;
  background-repeat: no-repeat;
  background-size: cover
}

.gramophone-container .PlanetsGroup {
  position: absolute;
  transform: scale(0.38);
  top: 467px;
  left: 249px
}


/* --------------------------------------------------------------------------- case study */
.casestudy-container {
  background-color: white;
  display: grid;
  grid-gap: 5vw;
  grid-template-columns: 6fr 5fr;
  align-items: center;
  height: 100vh
}

.walli .casestudy-container {
  background-color: #7685FF
}

.casestudy-left {
  display: grid;
  grid-gap: 3vw;
  grid-template-columns: 10vw 2vw auto;
  align-items:  center
}

.casestudy-left .tilt-image {
  grid-column: 3;
}

.casestudy-left .tools {
  grid-column: 2
}

.casestudy-left .tools {
  display: flex;
  flex-direction: column
}

.casestudy-container .tools .icon-container {
  margin: 0.7vw 0
}

.casestudy-left .tools > h5 {
  margin: 2vw 0.3vw;
  font-family: 'Overpass Mono', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: $background-color;
  
  writing-mode: vertical-lr;
  text-orientation: mixed;
  
  transform: rotate(180deg)
}

.walli .casestudy-left .tools > h5 {
  color: white;
}



//#################################################

.casestudy-right hr {
  border: .5px solid $background-color;
  width: 100px;
  display: inline-block;
  margin: 10px 10px 10px 0px
}
.walli .casestudy-right hr {
  border-color: white
}

.casestudy-right h1,
.casestudy-right h4 {
  margin: 20px 0px
}
.walli .casestudy-right h1, 
.walli .casestudy-right h4 {
  color: white
}

.casestudy-right > p {
  max-width: 60%;
  font-family: 'Overpass Mono', sans-serif;
  margin: 20px 0px 120px 0px;
  font-size: 18px;
  font-weight: 300;
  color: rgba($background-color, .5)
}
.walli .casestudy-right > p{
  color: rgba(white, .8)
}

/* --------------------------------------------------------------------------- responsive */

@media (max-width: 1440px) {
  .landing-picture {
    transform: scale(0.9)
  }
}