
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.3;
}

a {
  font-family: 'Playfair Display', serif;
  color: white;
  text-decoration: none;
}

.Intro {
  background: black;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.IntroGroup {
  margin: 0;
  padding: 246px 108px;
  text-align: left;
}

.Intro h1{
  font-family: 'Playfair Display';
  margin: 0;
  color: white;
  line-height: normal;
  font-weight: bold;
  font-size: 80px;
  max-width: 440px;
}

.Intro p{
  color: rgba(255, 255, 255, .7);
  line-height: 1.5;
  max-width: 540px;
}

/* .Hero a{
  font-size: 17px;
  font-weight: 600px;
  color: white;
  text-transform: uppercase;
  background: rgba(0, 0, 0, .7);
  padding: 10px 20px;
  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 20px; 
} */