@keyframes twinkle {
  5% {
    transform: scale(0.4);
    opacity: 0.5;
  }
  15% {
    opacity: 0.5;
  }
  58% {
    transform: scale(0.8);
    opacity: 0.3;
  }
  74% {
    transform: scale(1.6);
    opacity: 0.9;
  }
  78% {
    transform: scale(0.4);
    opacity: 0.3;
  }
}

$star-count : 300;

.star{
  position: absolute;
  background-color: white;
  height: 1px;
  width: 1px;
  border-radius: 50%;
  box-shadow: 0 0 10px 2px rgba(68, 0, 255, 0.5);
  z-index: -1;
  
  animation-name: twinkle;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  
  @for $i from 1 to $star-count+1 {     
    $delay: random(20);
    
    &:nth-of-type(#{$i}){
      animation-delay: -#{$delay}s;
      top: percentage(random(200) / 200);
      left: percentage(random(200) / 200);
    }
  }
}


@keyframes meteor {
	0% {
		visibility: visible;
		transform : translate(-50px,-50px) rotate(-75deg);
	}
	
	50%, 100% {
		transform : translate(450px,75px) rotate(-75deg);
	}
}
