$text-color: #ECEDFB;

.link-container{
    position: absolute;
    text-align: center;
    
    overflow: hidden;
    text-align: left;
    height: 20px;
    width: 100px;
}


  
.link-container:hover {
    cursor: pointer;
}

#on-black.Link{
    position: relative;
    font-family: 'Playfair Display', sans-serif;
    color: $text-color;
    font-size: 16px;
    font-weight: 700;
    line-height:20px;
    height:20px;
    
}

#on-white.Link{
    position: relative;
    font-family: 'Playfair Display', sans-serif;
    color: #111421;
    font-size: 16px;
    font-weight: 700;
    line-height:20px;
    height:20px;
    
}
.Link span{
    position: relative;
    display: inline-block;
    transform: translateY(100%);
    transition: all 0.25s cubic-bezier(0.8, 0.2, 0.8, 1) 0s;
}

.link-container .Link span{
    transform: translateY(0%);
}

.Link span{
    position:relative;
   z-index:5;
}

$num: 1;

@while $num < 20 {
    .Link span:nth-of-type(#{$num}) {
        transition-delay: 0.02s * $num + 0.03;
    }

    $num: $num + 1;
}




.link-container:hover .Link span{
    transform: translateY(-100%);
}