@import "basics";
@import "views";
@import "data";
@import "images";

.OrbitRing {
  position: absolute;
  top: 50%;
  left: 50%;
  // margin-top: 1px;
  margin-left: 1px;
  border: 1.5px solid white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.OrbitRingFront {
  position: absolute;
  top: 50%;
  left: 50%;
  // margin-top: 1px;
  margin-left: 1px;
  border: 1.5px solid white;
  border-radius: 50%;
  clip-path: ellipse(50% 50% at 50% 100%);
  transform: translate(-50%, -50%);
}


#ring-1 {
  width: 224px;
  height: 57px;
}

#ring-2 {
  width: 288px;
  height: 73px;
}

#ring-3 {
  width: 360px;
  height: 91px;
}

#ring-4 {
  width: 440px;
  height: 112px;
}

#ring-5 {
  width: 560px;
  height: 144px;
}

#ring-6 {
  width: 696px;
  height: 180px;
}

#ring-7 {
  width: 840px;
  height: 216px;
}